@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
    margin: 0;
}

h1{
    font-weight: 700;
    font-size: 78px;
}
h1 span{
    background-color: #3ffff3;
    text-transform: capitalize;
}
p{
    font-size: 30px;
}
img{
    background-image: url(fondo.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
}
div{
    width: 100%;
}